@page "/editperiod/{periodoId:int}"
@inject NavigationManager navManager
@inject PeriodoService periodoService

<main style="gap:24px; display:flex; flex-direction:column; justify-content:space-between; height:100vh;">
    <section class="d-grid" style="gap:48px;">
        <section class="mt-4" style="gap:16px; display:flex; align-items:center; justify-content:space-between;">
            <button @onclick="Regresar" class="btn-goback"> <img src="/Images/back.svg" alt="Alternate Text" /> </button>
            <div>
                <h1 class="t20">Editar periodo</h1>
            </div>
            <button data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn-goback"> <img src="/Images/delete.svg" alt="Alternate Text" /> </button>
        </section>
    
        <section class="d-grid" style="gap:24px;">
            <section class="grid">
                <h1 class="t16">Detalles</h1>
            </section>
            <section class="grid" style="gap:44px;">
                <section class="grid" style="gap:24px;">
                    <div class="grid" style="gap:10px;">
                        <label>Nombre del nuevo periodo</label>
                        <div class="inp-cont">
                            <img class="ico-inp left" src="/Images/add.svg" alt="Alternate Text" />
                            <input type="text" placeholder="Ingresa el nombre" class="inp parr" @bind="@periodo.Nombre" />
                        </div>
                        
                    </div>

                    <div class="grid" style="gap:10px;">
                        <label>Cantidad de horas</label>
                        <div class="inp-cont">
                            <img class="ico-inp left" src="/Images/hours.svg" alt="Alternate Text" />
                            <input type="number" placeholder="Ingresa la cantidad de horas" class="inp parr" @bind="@periodo.CantidadHoras" />
                        </div>
                         
                    </div>

                    <div class="grid" style="gap:10px;">
                        <label>Fecha de inicio</label>
                        <div class="inp-cont">
                            <img class="ico-inp left" src="/Images/date.svg" alt="Alternate Text" />
                            <input type="date" class="inp parr" @bind="@periodo.FechaRegistro"/>
                        </div>
                        
                    </div>

                    <div class="d-none">
                    <div class="grid" style="gap:10px;">
                        <label>Id Estado</label>
                        <div class="inp-cont">
                            <img class="ico-inp left" src="/Images/hours.svg" alt="Alternate Text" />
                            <input type="number" placeholder="Ingresa el estado" class="inp parr" @bind="@periodo.EstadoId" />
                        </div>
                    </div>

                    <div class="grid" style="gap:10px;">
                        <label>Id Usuario</label>
                        <div class="inp-cont">
                            <img class="ico-inp left" src="/Images/hours.svg" alt="Alternate Text" />
                            <input type="number" placeholder="Ingresa el ID del usuario" class="inp parr" @bind="@periodo.UsuarioId" />
                        </div>
                    </div>

                    <div class="grid" style="gap:10px;">
                        <label>Horas Realizadas</label>
                        <div class="inp-cont">
                            <img class="ico-inp left" src="/Images/hours.svg" alt="Alternate Text" />
                            <input type="text" placeholder="Ingresa las horas realizadas" class="inp parr" @bind="@periodo.HorasRealizadas" />
                        </div>
                    </div>

                    <div class="grid" style="gap:10px;">
                        <label>Horas Pendientes</label>
                        <div class="inp-cont">
                            <img class="ico-inp left" src="/Images/hours.svg" alt="Alternate Text" />
                            <input type="text" placeholder="Ingresa las horas pendientes" class="inp parr" @bind="@periodo.HorasPendientes" />
                        </div>
                    </div>

                    <div class="grid" style="gap:10px;">
                        <label>Horas registro</label>
                        <div class="inp-cont">
                            <img class="ico-inp left" src="/Images/hours.svg" alt="Alternate Text" />
                            <input type="text" placeholder="Ingresa las horas pendientes" class="inp parr" @bind="@periodo.HorasPendientes" />
                        </div>
                    </div>
                    </div>
                    
                    <div class="grid" style="gap:10px; width:100%;">
                        <label>Hora de registro</label>
                        <div class="inp-cont">
                            <img class="ico-inp left" src="/Images/hours.svg" alt="Alternate Text" />
                            <input placeholder="Ingresa la hora" class="inp parr" type="time"
                                   value="@periodo.HoraRegistro.ToString(@"hh\:mm")"
                                   @onchange="(e) => { periodo.HoraRegistro = TimeSpan.Parse(e.Value.ToString());}" />
                        </div>
                        
                    </div>

               

                </section>
                </section>
            </section>
        </section>

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="error">@errorMessage</div>
    }

    <button @onclick="EditarPeriodo" class="bton bton-black" style="margin-bottom:24px;" type="submit">Guardar cambios</button>
    </main>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content d-grid" style="padding:32px 16px; gap:24px; border-radius:24px; margin:0px 16px;">
                <div class="d-grid" style="gap:8px;">
                    <h2 class="t20 center">¿Estás seguro de eliminar?</h2>
                    <p class="parr center">Si eliminas este periodo de tiempo, todas las horas acumuladas e información relacionada se perderá para siempre.</p>
                </div>
                <div class="d-grid" style="gap:8px;">
                    <button @onclick="EliminarPeriodo" data-bs-dismiss="modal" aria-label="Close" class="bton bton-black">Sí, quiero eliminar este periodo</button>
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="bton bton-white">Cancelar</button>
                </div>
            </div>
        </div>
    </div> 

@code {
    private void Regresar()
    {
        navManager.NavigateTo("/home");
    }

    private string errorMessage;


    private Periodo periodo = new Periodo(); 

    [Parameter]
    public int periodoId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        periodo = await periodoService.ObtenerPorId(periodoId); // Asignar el resultado al objeto periodo
    }

    private async Task EliminarPeriodo()
    {
        await periodoService.Eliminar(periodoId);
        navManager.NavigateTo("/home");
    }

    private async Task EditarPeriodo()
    {
         if (!ValidarCampos())
        {
            return; // Si hay un error, se detiene la ejecución
        }

        await periodoService.Editar(periodo); // Llama al método Editar para actualizar el periodo
        navManager.NavigateTo("/home"); // Navega a la página de inicio después de guardar
    }

    private bool ValidarCampos()
    {
        // Si algún campo no es válido, asigna el mensaje de error y devuelve falso
        if (string.IsNullOrWhiteSpace(periodo.Nombre) ||
            periodo.CantidadHoras <= 0 ||
            periodo.FechaRegistro == default ||
            periodo.HoraRegistro == default)
        {
            errorMessage = "Ups, tienes campos vacíos. Completa todos los campos para guardar cambios.";
            return false;
        }

        return true; // Todos los campos son válidos
    }
}
