@page "/register"
@inject NavigationManager navManager
@inject UsuarioService usuarioService
@inject IJSRuntime jsRuntime

<main style="gap:44px; justify-content:center; display:flex; flex-direction:column; height:100vh;">

    <section class="grid" style="gap:16px;">
        <h1 class="t32">Crea tu cuenta</h1>
        <p class="parr">Completa los siguientes datos para crear tu cuenta en la plataforma</p>
    </section>

    <section class="grid" style="gap:44px;">
        <section class="grid" style="gap:24px;">

            <div class="grid" style="gap:10px;">
                <label>Nombre completo</label>
                <div class="inp-cont">
                    <img class="ico-inp left" src="/Images/name.svg" alt="Icono de nombre" />
                    <input placeholder="Ingresa tu nombre y un apellido" class="inp parr" type="text" @bind="usuario.Nombre" />
                </div>
            </div>

            <div class="grid" style="gap:10px;">
                <label>Teléfono</label>
                <div class="inp-cont">
                    <img class="ico-inp left" src="/Images/phone.svg" alt="Icono de teléfono" />
                    <input placeholder="Ingresa tu número de teléfono" class="inp parr" type="tel" @bind="usuario.Telefono" />
                </div>
            </div>

            <div class="grid" style="gap:10px;">
                <label>Contraseña</label>
                <div class="inp-cont">
                    <img class="ico-inp left" src="/Images/pass.svg" alt="Icono de contraseña" />
                    <input placeholder="Ingresa tu contraseña"
                           class="inp parr"
                           type="@inputTypePassword"
                           @bind="usuario.Clave"
                           autocomplete="off"
                           autocorrect="off"
                           autocapitalize="none" />
                    <img class="ico-inp right"
                         src="@(showPassword ? "/Images/open.svg" : "/Images/close.svg")"
                         alt="@(showPassword ? "Mostrar contraseña" : "Ocultar contraseña")"
                         @onclick="TogglePasswordVisibilityPassword" />
                </div>
            </div>

            <div class="grid" style="gap:10px;">
                <label>Confirmar Contraseña</label>
                <div class="inp-cont">
                    <img class="ico-inp left" src="/Images/pass.svg" alt="Icono de contraseña" />
                    <input placeholder="Confirma tu contraseña"
                           class="inp parr"
                           type="@inputTypeConfirmPassword"
                           @bind="confirmPassword"
                           autocomplete="off"
                           autocorrect="off"
                           autocapitalize="none" />
                    <img class="ico-inp right"
                         src="@(showConfirmPassword ? "/Images/open.svg" : "/Images/close.svg")"
                         alt="@(showConfirmPassword ? "Mostrar contraseña" : "Ocultar contraseña")"
                         @onclick="TogglePasswordVisibilityConfirmPassword" />
                </div>
            </div>

        </section>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="error">@errorMessage</div>
        }

        <button @onclick="Guardar" class="bton bton-black" type="submit">Crear cuenta</button>
    </section>

    <p class="center">¿Ya tienes una cuenta? <span @onclick="login" class="t16" style="cursor:pointer;">Iniciar Sesión</span></p>

</main>

@code {
    private Usuario usuario = new Usuario();
    private string confirmPassword;
    private bool showPassword = false;
    private bool showConfirmPassword = false;
    private string inputTypePassword = "password";
    private string inputTypeConfirmPassword = "password";
    private string errorMessage;

    private void login()
    {
        navManager.NavigateTo("/login");
    }

    private async Task Guardar()
    {
        // Reiniciar mensaje de error
        errorMessage = string.Empty;

        // Validar campos
        if (string.IsNullOrWhiteSpace(usuario.Nombre) ||
            string.IsNullOrWhiteSpace(usuario.Telefono) ||
            string.IsNullOrWhiteSpace(usuario.Clave))
        {
            errorMessage = "Ups, aun hay campos vacíos. Completa todos los campos para crear tu cuenta.";
            return; // Detener la ejecución si hay campos vacíos
        }

        // Validar coincidencia de contraseñas
        if (usuario.Clave != confirmPassword)
        {
            errorMessage = "Las contraseñas no coinciden.";
            return; // Detener la ejecución si no coinciden
        }

        // Guardar el usuario si todas las validaciones son correctas
        await usuarioService.Guardar(usuario);

        // Aquí puedes autenticar automáticamente después de crear la cuenta
        var credenciales = new Credenciales
            {
                Telefono = usuario.Telefono,
                Clave = usuario.Clave
            };

        await Autenticar(credenciales);
    }

    private async Task Autenticar(Credenciales credenciales)
    {
        // Lógica de autenticación
        Usuario usuarioAutenticado = await usuarioService.Autenticar(credenciales);
        if (usuarioAutenticado.UsuarioId > 0)
        {
            // Credenciales correctas
            await jsRuntime.InvokeVoidAsync("localStorage.setItem", "UsuarioId", usuarioAutenticado.UsuarioId);
            // Navegar
            navManager.NavigateTo("/home");
        }
        else
        {
            // Manejar credenciales incorrectas si es necesario
        }
    }

    private void TogglePasswordVisibilityPassword()
    {
        showPassword = !showPassword;
        inputTypePassword = showPassword ? "text" : "password";
    }

    private void TogglePasswordVisibilityConfirmPassword()
    {
        showConfirmPassword = !showConfirmPassword;
        inputTypeConfirmPassword = showConfirmPassword ? "text" : "password";
    }
}
